**/node_modules/
**/.env
**/.env.*
!**/.env.example
!**/.env.local.example
storage/local/*
storage/media/*
storage/backups/*
!storage/local/.gitkeep
!storage/media/.gitkeep
!storage/backups/.gitkeep
*.log
